# Ignore log files
*.log

# Ignore build directories
/build/

# Ignore a specific file
config.ini

# Ignore all .tmp files in any directory
/*.tmp

# Ignore all files in the temp/ directory
/temp/*

node_modules/